main.exe

vendor/*
!vendor/vendor.json

frontend/node_modules/

frontend/dist/

# temporal ignores for "Redux in Motion" code.
frontend/src/constants/flavors.js
frontend/src/modules/__tests__/*
frontend/src/modules/freezer.js
frontend/src/modules/orders.js
frontend/src/modules/employees.js
